<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark" style="height: 80px;width:100%;position:fixed;z-index:100">
  <div class="container-fluid">
    <a class="navbar-brand" href="" >
      <img src="/assets/Images/p12.jpeg" alt="Wonder Events Logo" class="navbar-logo rounded-circle" style="max-height: 80px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item dropdown" >
          <a href="#" class="nav-link dropbtn" (click)="toggleServicesDropdown()">
          <span class="normal-link" href="#">Events</span></a>
          <div class="dropdown-content" *ngIf="showServicesDropdown" >
          <li> <span id="sign" (click)="navigateTo('weddingos')">Wedding</span></li>
           <li>  <span id="sign" (click)="navigateTo('parties')">Parties</span></li>
           <li>  <span id="sign" (click)="navigateTo('corporate')">Corporate Events</span></li>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blogs"></a>
        </li>
        <li class="nav-item" *ngIf="loginStatus">
          <a class="nav-link" routerLink="event"></a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngIf="!loginStatus">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="loginStatus">
            <a class="nav-link" routerLink="book">Bookings({{bookItems.length}})</a>
          </li>
          <li class="nav-item" *ngIf="loginStatus">
            <a class="nav-link" routerLink="logout">Logout</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
