<!-- <p (click)="loginWithGoogle()">google-login works!</p> -->
<!-- <h1>User Name : {{socialUser?.firstName || ''}}</h1> -->
<div style="display: flex; align-items: center;justify-content: center;margin: 0.5rem;">

     <asl-google-signin-button type='standard' shape="square" size='large'></asl-google-signin-button>
</div>

<!-- <div id="g_id_onload"
     data-client_id="479005336409-mqit3qjh3iu93j2i9h8u3ugpdqgdj2ue.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="redirect"
     data-login_uri="http://localhost:3000/oauthCallback"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->

