<head>
   
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    
    </head>
    
    <style>
     .img{
        padding-top: 50px;
    padding-left: 500px;
     }
     .main{
      height: 500px;
      background-color: black;
     }
     .image{
      padding-left: 650px;
    padding-top: 0px; 
        justify-content: center;
        align-items: center;
        background-color:black;
    }
    .image img{
        height: 240px;
        width: 240px;
        border-radius: 50%;
       
    }
     
    </style>
    <br>
    
    <section style="background-repeat: no-repeat; background: position 100%; background-size: cover; height: 800px; background-image: url(assets/Images/hmain1.png);">
    </section>
    
    <section style="background-repeat: no-repeat; background-position: center bottom; background-size: cover; height: 1050px; background-color: azure;">
    <div class="img">
        <img src="assets/Images/img57.jpg">
    </div><br><br>
    <div class="content">
    <p style="font-size: 50px; text-align: center;">We’re passionate about pushing the envelope,</p>
    <p style="font-size: 30px; text-align: center;" >and discovering what excites you so we can pour that into every tiny,<br> yet impactful detail – making sure your day is yours.</p>
    <br><br>
    <p style="font-size: 20px; text-align: center;"> We believe that the key to a successful wedding is open communication and a strong <br>
      relationship with our clients. We take the time to truly understand your vision and work closely<br> 
      with you to bring your dream wedding to life. With our exceptional organizational skills, calm demeanor,<br> 
      and expertise in the industry, we have earned our reputation for a reason.</p>  
    
    </div>
    </section>
    <footer class="main">
      <div class="image">
        <img style="margin-top: 50px;"src="assets/Images/p.png">
      </div>
        <div class="footerContainer">
            <div class="socialIcons">
            
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href="https://www.youtube.com/@JeffSaturSATS/featured"><i class="fa-brands fa-youtube"></i></a>
          </div>
    
          <div class="footerNav">
    
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">News</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Our Team</a></li>
            </ul>
          </div>
          <div class="footerBottom">
            <p>&copy; MagicEvents.com | MagicEvents Privacy Policy |<span class="Design"> 2023 Magic Events</span>. All rights reserved.</p>
          </div>
        </div>
        </footer>