<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous"> 
</head>
<br><br><br><br>
<h1 align="center">Events Booked</h1>

<div class="container">
<table class="table table-hover table-striped table-bordered">

    <thead>
        <tr align="center">
            <th class="bg-info text-white">Customer Name</th>
            <th class="bg-info text-white">Customer EamilId</th>
            <th class="bg-info text-white">EventName</th>
            <th class="bg-info text-white">Location</th>
            <th class="bg-info text-white">Date</th>
            <!-- <th class="bg-info text-white" colspan="2">Actions</th> -->
        </tr>
    </thead>

    <tbody>
        <tr  align="center" >
            <td>{{data1.name  | uppercase   }}</td>
            <td>{{data1.emailId  }}</td>
            <td>{{data1.eventName   }}</td>
            <td>{{data1.location }}</td>
            <td>{{data1.date    | date:'dd-MMM-yyyy'}}</td>
        </tr>
    </tbody>

</table>
</div>