<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        /* Add custom styles here */
        .container {
            background-color: rgba(255, 255, 255, 0.595);
            border: 1px solid #cccccc89;
            border-radius: 10px;
            padding-top: 10px;
            max-width: 400px;
            margin: 0 auto;
           
        }
        #im {
            background-image: url('assets/Images/bg3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 739px;
        }
        #color {
            color: red;
        }
        .input-group {
            margin-bottom: 15px;
        }
        #sign {
            cursor: pointer;
        }
        .validation-message {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 10px;
            margin-right: 10px;
            background-color: #ffffffa1;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
            font-size: 12px;
            z-index: 1;
        }
    </style>
</head>
<body id="im"><br><br><br><br><br>
<div class="container">
    <h1 class="text-center"> <i>Join with us!</i></h1>

    <form #regForm="ngForm" (ngSubmit)="customerRegister(regForm.value)" novalidate>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="firstName" ngModel    #firstName="ngModel" class="form-control" placeholder="Enter First Name" required pattern="[a-zA-Z]+">
        </div>
        <div *ngIf="firstName.errors?.['required'] && firstName.touched" >
            <p id="color">Enter First Name</p>
        </div>
        <div *ngIf="firstName.errors?.['pattern'] && firstName.touched" >
            <p id="color">First Name is required and should contain only letters.</p>
        </div>
        
        <div class="input-group">
                
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="lastName" ngModel  #lastName="ngModel" class="form-control" placeholder="Enter Last Name" required pattern="[a-zA-Z]+">
        </div>
        <div *ngIf="lastName.errors?.['required'] && lastName.touched">
            <p id="color">Enter Last Name</p>
        </div>
         <div *ngIf="lastName.errors?.['pattern']  && lastName.touched">
            <p id="color">Last Name is required and should contain only letters.</p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
            <select name="gender" ngModel class="form-control"  #gender="ngModel"  required>
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
            </select>
        </div>
        <div *ngIf="gender.invalid && gender.touched">
            <p id="color">Please select a Gender.</p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <select name="country" ngModel  class="form-control"  #country="ngModel" required>
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let country of coutriesList" [value]="country.cca3">{{country.name.common}}</option>
            </select>
        </div>
        <div *ngIf="country.invalid && country.touched">
            <p id="color">Please select a Country.</p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input type="text" name="address" ngModel   #address="ngModel" class="form-control" placeholder="Enter Address"   required>
        </div>
        <div *ngIf="address.invalid && address.touched">
            <p id="color">Address is required.</p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input type="number" name="phoneNo" ngModel  #phoneNo="ngModel" class="form-control" placeholder="Enter Phone Number" required  maxlength="10"  pattern="^[6-9]\d{9}$">
        </div>
        <div *ngIf="phoneNo.errors?.['required'] && phoneNo.touched">
            <p id="color">Enter Phone Number</p>
        </div>
        <div *ngIf="phoneNo.touched && (phoneNo.errors?.['pattern'] || phoneNo.errors?.['maxlength']) ">
            <p id="color">Enter Number starting with 6 to 9 and 10 digits.</p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel"
                   placeholder="Enter Email-ID" required pattern="[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]{2,}" />
        </div>
        <div *ngIf="emailId.errors?.['required'] && emailId.touched">
            <p id="color">Enter EmailId</p>
        </div>
           <div *ngIf="emailId.errors?.['pattern']  && emailId.touched">
            <p id="color">Email is Invalid.</p>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="password" ngModel   #password="ngModel" class="form-control" placeholder="Enter Password" required minlength="8" maxlength="15" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$">
        </div>
        <div *ngIf="password.errors?.['required'] && password.touched">
            <p id="color">Enter Password</p>
        </div>
        <div *ngIf=" password.touched && (password.errors?.['pattern'] || password.errors?.['minlength'])">
            <p id="color">Password must contain at least 8 characters,including uppercase,lowercase,number,and special .</p>
        </div>

       <!-- - <div class="form-group">
            <label for="passwordConfirmation"><i class="glyphicon glyphicon-lock"></i> Re-Enter Password</label>
            <input type="password" name="passwordConfirmation" ngModel  #passwordConfirmation="ngModel" class="form-control" placeholder="Re-Enter Password" required>
            <div *ngIf="passwordConfirmation.errors?.['pattern']  && passwordConfirmation.touched">
                <p id="color">Passwords do not match.</p>
            </div>
        </div> -->
   
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="date" name="dob" ngModel  #dob="ngModel" class="form-control" required>
        </div>
        <div *ngIf="dob.errors?.['required'] && dob.touched">
            <p id="color">Enter Date</p>
        </div>

        <div class="text-center">
            <p>
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-check"></i>Join</button>
                <!-- &nbsp;&nbsp; Already a User? &nbsp;&nbsp; <span id="sign" (click)="showLogin()">Login</span> -->
            </p>
        </div>
    </form>
</div>
</body>
</html>
